body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 60%;
    margin: 0 auto;
}

header {
    background-color: #2f4154;
    color: rgb(248, 245, 245);
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 20px 0;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #89898a; /* Change color on hover */
}

main {
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        font-size: 28px;
    }

    header p {
        font-size: 16px;
    }
}